<div class="todo">
  <app-todo-input
    [todoList]="activeTodoList"
    (addNewItemEvent)="addNewItem($event)"
  ></app-todo-input>
  <div class="container">
    <ng-container *ngIf="selectedList === 'All' || selectedList === 'Active'">
      <app-todo-item
        *ngFor="let item of activeTodoList"
        [todoItem]="item"
        (toggleCompleteEvent)="toggleItemStatus($event)"
        (deleteItemEvent)="deleteSelectedItem($event)"
      ></app-todo-item>
    </ng-container>
    <ng-container
      *ngIf="selectedList === 'All' || selectedList === 'Completed'"
    >
      <app-todo-item
        *ngFor="let item of completedTodoList"
        [todoItem]="item"
        (toggleCompleteEvent)="toggleItemStatus($event)"
      ></app-todo-item>
    </ng-container>
    <app-todo-footer
      [todoCount]="
        {
          Active: activeTodoList.length,
          All: activeTodoList.length,
          Completed: completedTodoList.length
        }[selectedList]
      "
      [selectedList]="selectedList"
      (filterEvent)="changeSelectedList($event)"
      (clearCompletedEvent)="clearCompletedList()"
    ></app-todo-footer>
  </div>
</div>
